<div class="container">
  <div class="text-center">
    <h1>Top News Scraper</h1>
    <hr>
    <a id="scrapeButton" class="btn btn-outline-dark" href="/scrape">Click to scrape article</a>
    </button><a id="savedButton" class="btn btn-outline-dark" href="/saved">Saved articles</a>

  </div>
 <br>
  {{#each article}}
  <div class="card">
    <h5 class="card-header headline" data-id="{{_id}}">{{title}}</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <img src="{{image}}" alt="">
          <br>
          <br>
        </div>
      <div class="col-md-7">
      <p class="card-text">{{summary}}</p>
    
      </div>

      </div>

      

      <a href="{{link}}" class="btn btn-outline-dark">Link to website</a>
      <button class="buttonSaved btn btn-outline-dark" data-id="{{_id}}">Save Article</button>
    </div>
  </div>
  <br>
  {{/each}}
</div>

